extends layout

block content
  h1= title
  h3 by #{author}
  h5 Welcome to #{title}
  p This is a URL shortener microservice.  You can pass a URL as a parameter and will receive a shortened URL in JSON.  Using your shortened link will redirect you to your original link.

  h3 Example Input:
  code(id="example-natural", class="example") https://shorten-url-ia.herokuapp.com/short/http://www.reddit.com

  
  h3 Example Output:
  code(id="example-output" class="example") {"originalURL":"http://www.reddit.com","shortenedURL":"localhost:3000/Hk4xiZR2"}
  
